---
import Navigation from "./Navigation.astro";
---

<header
  class="fixed top-0 left-0 right-0 z-50 flex justify-between items-center text-black w-full p-3"
>
  <a href="/">
    <img
      src="/images/LOGO.webp"
      alt="Logo de Bingo! at the Casino"
      class="w-24 text-white"
    />
  </a>
  <nav class="ml-auto space-x-10 p-3 font-bold">
    <Navigation />
  </nav>
</header>
